{# Главное меню в шапке сайта #}
{% set currentRoute = app.request.get('_route') %}
{% set isAuth = is_granted('IS_AUTHENTICATED_REMEMBERED') %}
{% set menuItems = [
    {
        'label': 'Главная',
        'route': 'frontend_index',
        'visible': true,
        'active': currentRoute == 'frontend_index',
    }, {
        'label': 'Войти',
        'route': 'frontend_user_login',
        'visible': not isAuth,
        'active': currentRoute == 'frontend_user_login',
    }, {
        'label': 'Мой кабинет',
        'route': 'frontend_user_profile_index',
        'visible': isAuth,
        'active': 'frontend_user_profile_' in currentRoute,
    }, {
        'label': 'Выход',
        'route': 'frontend_user_logout',
        'visible': isAuth,
        'active': false
    }
] %}
<ul class="navbar-nav mr-auto">
    {% for menuItem in menuItems %}
        {% if menuItem.visible %}
            <li class="nav-item">
                <a class="nav-link {% if menuItem.active %}active{% endif %}" href="{{ url(menuItem.route) }}">{{ menuItem.label }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
