{% extends '@backend/layouts/main.html.twig' %}

{% block title %}Главная страница{% endblock %}
{% block header %}Главная страница{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item">Главная страница</li>
{% endblock %}

{% block body %}
    <p>Welcome to Backend App!</p>
{% endblock %}
