{# Главное меню в шапке сайта #}
{% set currentRoute = app.request.get('_route') %}
{% set menuItems = [
    {
        'label': 'Главная',
        'route': 'backend_index',
        'visible': true,
        'active': currentRoute == 'backend_index',
    }, {
        'label': 'Вопросы и ответы',
        'route': 'backend_questions_main_dashboard',
        'visible': is_granted('ROLE_MANAGER_QUESTIONS'),
        'active': 'backend_questions_' in currentRoute,
    }, {
        'label': 'Пользователи',
        'route': 'backend_users_user_list',
        'visible': is_granted('ROLE_MANAGER_USERS'),
        'active': 'backend_users_' in currentRoute,
    }, {
        'label': 'Выход',
        'route': 'backend_logout',
        'visible': is_granted('IS_AUTHENTICATED_REMEMBERED'),
        'active': false
    }
] %}
<ul class="navbar-nav mr-auto">
    {% for menuItem in menuItems %}
        {% if menuItem.visible %}
            <li class="nav-item">
                <a class="nav-link {{ menuItem.active ? 'active' : '' }}" href="{{ url(menuItem.route) }}">{{ menuItem.label }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
