{% macro alert(type, text) %}
    <div class="alert alert-{{ type }}" role="alert">
        {{ text|raw }}
    </div>
{% endmacro %}

{% macro badge(key, value) %}
    <span class="badge badge-{{ key }}">{{ value }}</span>
{% endmacro %}
