{#
    Данное письмо отправляется с целью подтвердить e-mail адрес пользователя.
    В данный момент используется в двух случаях:

    1) Сразу после регистрации пользователя
    2) После изменения E-mail адреса пользователя
#}
{% set confirmUrl = url('frontend_user_email_verification', {'token': token}) %}

<p>
    Вы успешно зарегистрированы на нашем сайте!
</p>

<p>
    Для подтверждения E-mail адреса перейдите по ссылке:
    <br>
    <a href="{{ confirmUrl|raw }}">{{ confirmUrl|raw }}</a>
</p>
