{# Layout для задач функционала панели управлея администратора #}
{% extends '@backend/layouts/main.html.twig' %}

{% block body %}
    <div class="controlbox" style="margin-top: 15px;">
        <div class="row">
            <div class="col-md-3">
                {% block menu %}{% endblock %}
                {% block filters %}{% endblock %}
            </div>

            <div class="col-md-9">
                <h2>{% block header %}{% endblock %}</h2>

                {% include '@backend/components/flash-messages.html.twig' %}

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
