{% extends '@frontend/layouts/authbox.html.twig' %}
{% import "@frontend/components/tools.html.twig" as tools %}

{% block title %}Восстановление пароля{% endblock %}
{% block header %}Восстановление пароля{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item"><a href="{{ path('frontend_index') }}">Главная</a></li>
    <li class="breadcrumb-item active">Восстановление пароля</li>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {{ form_row(form.email) }}

    <button class="btn btn-primary" type="submit">Восстановить</button>

    {{ form_end(form) }}
{% endblock %}
