<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Questions Frontend App{% endblock %}</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    {% block stylesheets %}
        {{ encore_entry_link_tags('css/main', null, 'frontend') }}
        {{ encore_entry_link_tags('css/app', null, 'frontend') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('js/app', null, 'frontend') }}
    {% endblock %}
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" role="navigation">
        <div class="container-fluid">
            <a class="navbar-brand" href="/" role="banner">Questions Frontend App</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Switch Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsDefault">
                {% include "@frontend/components/header-menu.html.twig" %}
            </div>
        </div>
    </nav>
</header>

<main role="main">
    <div class="container-fluid" style="margin-top: 15px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
            </ol>
        </nav>

        {% block body %}{% endblock %}
    </div>
</main>

<footer role="contentinfo" class="footer">
    <div class="container-fluid">
        <span class="text-muted">Copyright &copy; {{ 'now'|date('Y') }} &mdash; Questions Frontend App</span>
    </div>
</footer>
</body>
</html>
